<html>
  <body>
    <table style="font-family:Arial; font-size: 13px; width:100%;">
      <tbody>
        <tr>
          <td height="30"></td>
        </tr>
        <tr>
          <td align="center"><img src="@linkLogoEntidade@" width="150" /></td>
        </tr>
        <tr>
          <td height="30"></td>
        </tr>
        <!-- <tr>
                <td style="padding-left: 10px; font-weight:500;">@nomeEntidade@</td>
            </tr> -->
        <!-- <tr>
                <td style="padding-left: 10px; font-weight:500;">CNPJ: @cnpjEntidade@</td>
            </tr> -->
      </tbody>
    </table>
    <table style="font-family:Arial; font-size: 14px;">
      <thead>
        <tr>
          <th height="30"></th>
        </tr>
        <tr>
          <th style="font-weight: 500; text-decoration: underline;">
            DECLARAÇÃO DE ASSOCIADO
          </th>
        </tr>
        <tr>
          <th height="30"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="line-height: 20px;">
            Declaramos para os devidos fins que @artigo@ <b>@nomeAssociado@</b>,
            portador do CPF nº <b>@cpfAssociado@</b>, faz parte do quadro de
            associados da <b>@nomeEntidade@</b>, inscrita no CNPJ nº
            <b>@cnpjEntidade@</b>, localizada na @enderecoEntidade@, tendo a
            sua<b> inclusão ocorrida no dia @dataInclusao@</b>. Informamos
            também que encontra-se ativo no nosso sistema desde a data de
            inclusão até hoje.
          </td>
        </tr>
      </tbody>
    </table>
    <table
      style="font-family:Arial; font-size: 14px; text-align: right; width:100%;"
    >
      <tbody>
        <tr>
          <td height="30"></td>
        </tr>
        <tr>
          <td>Rio de Janeiro, @diaAtual@ de @mesAtual@ de @anoAtual@</td>
        </tr>
        <tr>
          <td height="30"></td>
        </tr>
      </tbody>
    </table>
    <table style="font-family:Arial; font-size: 14px; width:100%;">
      <tr>
        <td height="30"></td>
      </tr>
      <tr>
        <td align="center">
          <img src="@linkAssinatura@" width="@widthAssinatura@" />
        </td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr>
      <tr>
        <td align="center">@enderecoEntidade@</td>
      </tr>
      <tr>
        <td align="center">Telefone: @telefoneEntidade@</td>
      </tr>
    </table>
  </body>
</html>
